<h2>List of Products</h2>

<div class="filter-section">
  <div>
    <label for="minPrice">Minimum Price:</label>
    <input type="number" id="minPrice" [(ngModel)]="minPrice" (input)="validateAndAdjustPrices()" min="0" />
  </div>

  <div>
    <label for="maxPrice">Maximum Price:</label>
    <input type="number" id="maxPrice" [(ngModel)]="maxPrice" (input)="validateAndAdjustPrices()" min="0" />
  </div>

  <div>
    <label for="category" class="form-label">Category:</label>
    <select id="category" class="form-select"
            [(ngModel)]="categoryName"
            (change)="applyFilters()">
      <option value="">Select a category...</option>
      <option *ngFor="let category of categories" [value]="category.nom">
        {{ category.nom }}
      </option>
    </select>
  </div>

  <div>
    <button class="button-reset"  (click)="resetFilters()">Reset Filters</button>
  </div>
</div>

<hr>

<div *ngIf="filteredProducts.length > 0; else noProducts" class="product-list">
  <div *ngFor="let product of filteredProducts" class="product-card">
    <img *ngIf="product.image" [src]="product.image" alt="{{ product.title }}" class="product-image" />
    <div>
      <strong>Title:</strong> {{ product.title }}
    </div>
    <div>
      <strong>Price:</strong> {{ product.price | currency:'TND' }}
    </div>
    <div *ngIf="product.quantity > 0" class="strong1">
      <strong>Availability:</strong>AVAILABLE
    </div>
    <div *ngIf="product.quantity <= 0" class="strong2">
      <strong>Availability:</strong>OUT OF STOCK
    </div>
    <div>
      <strong>Description:</strong> {{ product.description }}
    </div>
    <button class="buy-button" (click)="buyProduct(product)" [disabled]="product.quantity === 0">Buy</button>
  </div>
</div>

<ng-template #noProducts>
  <p>No products found.</p>
</ng-template>

<!-- Popup Notification -->
<div class="popup-notification" #popupNotification>
  Product added to cart!
</div>

<!-- Out of Stock Notification -->
<div class="popup-notification out-of-stock-notification" #outOfStockNotification>
  Product no longer in stock!
</div>
