<!-- src/app/change-password/change-password.component.html -->
<div class="change-password-container">
  <h2>Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="currentpassword">Current Password</label>
      <input
        type="password"
        id="currentpassword"
        formControlName="currentpassword"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="passwordconfirm">Confirm New Password</label>
      <input
        type="password"
        id="passwordconfirm"
        formControlName="passwordconfirm"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
