<div class="dialog-container">
    <div class="scrollable-content">
      <div class="col-sm-12 col-md-12 col-lg-12 mt-4">
        <div class="card card-inverse card-info">
          <img class="card-img-top" src={{data.image}}>
          <div class="card-block">
            <h4 class="card-title mt-3">{{data.title}}</h4>
            <div class="meta card-text">
              <a>{{data.price}}</a>
            </div>
            <div class="card-text">
                {{data.description}}
            </div>
          </div>
          <div class="card-footer">
            <small>Last updated 3 mins ago</small>
            <button class="btn btn-info float-right btn-sm" [mat-dialog-close]="'close'">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  