body {
    background-color: #151515;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #151515;
  }
  
  .plat-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .plat-image-container {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .plat-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid #f36100;
  }
  
  .plat-info {
    flex: 2 1 400px;
  }
  
  .plat-title {
    font-size: 2.5em;
    color: #f36100;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .plat-detail {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffffff; /* Ensure text color is white */
  }
  
  .restaurants-title {
    font-size: 1.8em;
    margin-top: 20px;
    color: #f36100;
    text-align: center;
  }
  
  .restaurant-list {
    list-style: none;
    padding: 0;
  }
  
  .restaurant-item {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffffff; /* Ensure text color is white */
  }
  