
<div id="main-container">
  <h2>Book your private session with your favourite coach!</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="seanceId">Séance</label>
      <ul id="seanceId" class="form-control">
        <li *ngFor="let seance of filteredSeances">
          <input type="radio" formControlName="seanceId" [value]="seance._id" id="seance{{seance._id}}">
          <label for="seance{{seance._id}}">{{ seance.TypeEvent[0] }} - {{ seance.DateEvent | date: 'short' }}</label>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label for="coachId">Coach</label>
      <ul id="UserId" class="form-control">
        <li *ngFor="let user of users">
          <input type="radio" formControlName="UserId" [value]="user._id" id="user{{user._id}}">
          <label for="user{{user._id}}">{{ user.firstName }} {{ user.lastName }}</label>
        </li>
      </ul>
    </div>

    <button class="submit-button" type="submit" [disabled]="!reservationForm.valid">Créer réservation</button>
  </form>
</div>

<!-- Modal for Notification -->
<!-- <div id="reservationModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Réservation Réussie!</h2>
    <p>Votre réservation a été créée avec succès.</p>
  </div>
</div> -->