/* Style pour l'arrière-plan de la page */
body {
    background-color: black; /* Fond noir */
    color: white; /* Texte en blanc */
    font-family: "Muli", sans-serif;
  }
  
  /* Style pour le conteneur principal */
  #main-container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  /* Style pour la liste des séances */
  .form-group ul {
    list-style-type: none;
    padding: 0;
  }
  
  .form-group li {
    padding: 10px;
    border: 1px solid white; /* Bordures blanches */
    margin-bottom: 10px;
    background-color: #ff6f00; /* Fond orange pour un meilleur contraste */
    border-radius: 5px; /* Bords arrondis */
    display: flex;
    align-items: center;
    color: black; /* Couleur du texte en noir */
  }
  
  .form-group li label {
    cursor: pointer;
    margin-left: 10px;
    font-size: 1em; /* Taille de la police */
    color: black; /* Texte en noir */
  }
  
  .form-group li input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2); /* Agrandir les boutons radio */
  }
  
  /* Ajouter un effet de survol */
  .form-group li:hover {
    background-color: white; /* Fond blanc au survol */
    color: black; /* Couleur du texte en noir */
  }
  
  /* Style pour le bouton de soumission */
  .submit-button {
    background-color: #ff6f00; /* Fond orange */
    color: white; /* Texte en blanc */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em; /* Taille de la police */
    transition: background-color 0.3s ease; /* Transition douce pour l'effet de survol */
  }
  
  /* Effet de survol pour le bouton */
  .submit-button:hover {
    background-color: white; /* Fond blanc au survol */
    color: black; /* Texte en noir */
  }
  
  .submit-button[disabled] {
    background-color: grey;
    cursor: not-allowed;
  }
  
  /* Style pour le conteneur des coachs */
  .coach-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .coach-list li {
    padding: 10px;
    border: 1px solid white; /* Bordures blanches */
    margin-bottom: 10px;
    background-color: #ff6f00; /* Fond orange */
    border-radius: 5px; /* Bords arrondis */
    display: flex;
    align-items: center;
    color: black; /* Couleur du texte en noir */
  }
  
  .coach-list li label {
    cursor: pointer;
    margin-left: 10px;
    font-size: 1em; /* Taille de la police */
    color: black; /* Texte en noir */
  }
  
  .coach-list li input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2); /* Agrandir les boutons radio */
  }
  
  /* Ajouter un effet de survol */
  .coach-list li:hover {
    background-color: white; /* Fond blanc au survol */
    color: black; /* Couleur du texte en noir */
  }
  